.container {
  width: 100%;
  min-height: calc(100vh - 5rem);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 40rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  button {
    padding: 1rem;
    border: 1px solid white;
    font-size: 1.5rem;
    border-radius: 1rem;

    box-shadow: 0 0px 8px hsla(0, 0%, 100%, 0.8);
  }
}
