@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&family=Roboto:wght@400;700&display=swap');

$colors: (
  background: #ccc,
  background-dark: #333,
  primary: hsl(271, 76%, 53%),
  primary-light: hsl(271, 76%, 73%),
);

$breakpoint: 40rem;

.container {
  padding: 2rem;
  grid-area: main;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.imageControls {
  display: flex;
  gap: 1rem;
}

.imageContainer {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingBar {
  max-width: 10rem;
  height: 1rem;
  background-color: white;
}

.apiInfo {
  text-align: center;

  h2 {
    color: map-get($map: $colors, $key: primary);
  }

  a {
    color: map-get($map: $colors, $key: primary-light);
  }
}

.button {
  min-width: 6rem;
  color: map-get($map: $colors, $key: primary-light);
  font-size: 1.25rem;
  background-color: map-get($map: $colors, $key: background-dark);
  text-decoration: none;
  border: 2px solid map-get($map: $colors, $key: background-dark);
  margin: 0;
  padding: 1rem;
  border-radius: 1rem;

  &:hover {
    border: 2px solid lighten(map-get($map: $colors, $key: background-dark), 40);
  }

  &:active {
    background-color: lighten(
      map-get($map: $colors, $key: background-dark),
      10
    );
  }
}
